# Ігнорувати директорії __pycache__
__pycache__/

# Ігнорувати файли .pyc
*.pyc

# Ігнорувати файли .pyo
*.pyo

# Ігнорувати середовище venv
venv/

# Ігнорувати конфігураційні файли PyCharm
.idea/

# Ігнорувати macOS специфічні файли
.DS_Store
